.DS_Store
/node_modules/
/test/
.idea/
.gradle
.project
.settings
.vscode
.cache
/build/
global-antora-playbook.yml
_redirects

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.pytest_cache/
.unittest_cache/
