# uncomment any of the sections to overwrite the global antora-playbook.yml
site:
#  title: Documentation
  url: https://frosty-curran-1fc0c4.netlify.app/
  start_page: 5.9-snapshot@management-center:getting-started:overview.adoc
  robots: disallow
#  keys:
#    google_analytics: 'GTM-MQ59XD6'
#    docsearch_id: 'QK2EAH8GB0'
#    docsearch_api: 'ef7bd9485eafbd75d6e8425949eda1f5'
#    docsearch_index: 'prod_hazelcast_docs'
#    ai_search_id: '6b326171-dd1e-40c6-a948-1f9bb6c0ed52'
#content:
#  sources:
#  - url: .
#    branches: HEAD
#    start_path: docs
#  - url: https://github.com/hazelcast/hz-docs
#    branches: [ main ]
#    start_path: docs
#ui:
#  bundle:
#    url: https://github.com/hazelcast/hazelcast-docs-ui/releases/latest/download/ui-bundle.zip
#    snapshot: true
asciidoc:
  extensions:
    - ./node_modules/hazelcast-docs-tools/antora-macro/tabs-block.js
    - ./node_modules/hazelcast-docs-tools/antora-macro/swagger-ui-block-macro.js
