# This workflow will take the contents of the content branches and build the production documentation site

name: Build production site

on:
  push:
    branches: [ main, 'v/*', archived-versions ]
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Dispatch docs deployment
        #   https://docs.netlify.com/configure-builds/build-hooks/
        run: curl -d {} https://api.netlify.com/build_hooks/${{ secrets.NETLIFY_BUILD_HOOK_ID }}

