# This workflow will take the contents of the content branches and build the production documentation site

name: Build production site

on:
  push:
    branches: [ main, 'v/*', archived-versions ]

jobs:
  deploy:
    uses: hazelcast/hz-docs/.github/workflows/build-site-workflow.yml@main
    secrets:
      netlify_build_hook_id: ${{ secrets.NETLIFY_BUILD_HOOK_ID }}
